.post h3 a {
  color: #000;
}

.post .info-others {
  color: #999;
}

.post .info-others a {
  color: #555;
}

.post hr {
  margin-top: 60px;
  background: #dedede;
}


/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.pager a.older {
  float: left;
}

.pager a.newer {
  float: right;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.gallery-caption {
  font-style: italic
}

.bypostauthor {
  font-size: 16px;
  color: #333;
}

.alignleft {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

.alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.wp-caption.alignleft, .wp-caption.alignright {
  margin-bottom: 0;
}

.wp-caption-text {
  margin-top: 5px;
  font-style: italic;
}

.tags {
  clear: both;
  padding-top: 20px;
}

.tags a {
  color: #666;
}

.tags a:hover {
  color: #000;
}

.page-links {
  margin-bottom: 15px;
  clear: both;
}

.page-links span span, .page-links a span {
  padding: 5px;
}

.page-links a span {
   color: #666;
}

[type='submit'] {
  border: 2px solid #333;
  background: none;
  color: #333;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
  line-height: 1.4rem;
  padding: 10px 40px 10px 50px;
  font-size: 18px;
  font-weight: bold
}

cite {
  margin: 10px 0;
}

.single-post .comments ol li {
  list-style: decimal;
  border: none;
}

.single-post .comments ul li {
  list-style: disc;
  border: none;
}

.single-post .comments li ul li ul, .single-post .comments li ol li ol {
  margin-bottom: 0;
}

.single-post .comments ul.children li {
  list-style: none;
}

body.single .post-content ul ul ul, body.single .post-content ul ul, body.single .post-content ul ol, body.single .post-content ol ul {
  margin-bottom: 0;
}

body.single .post-content ol ol ol, body.single .post-content ol ol {
  margin-bottom: 0;
}

body.single .post-content ul li, body.single .post-content ol li {
   padding: 0 0 10px;
}

/*body.page ul li, body.page ol li {
   padding: 0 0 10px;
}*/

body.single .post-content ul li:last-child, body.single .post-content ol li:last-child {
   padding: 0 0 0;
}

body.page ul li:last-child, body.page ol li:last-child {
   padding: 0 0 0;
}

ul ul, ol ol, ol ul, ul ol {
  padding-top: 10px;
}

.comments-wrapper ul.comments ul, .comments-wrapper ul.comments ol {
  padding-top: 0;
  margin-bottom: 20px;
}

.comments-wrapper ul.comments ul li, .comments-wrapper ul.comments ol li {
  padding: 0 0 10px;
}

.comments-wrapper ul.comments ul li:last-child, .comments-wrapper ul.comments ol li:last-child {
  padding: 0;
}

.comments-wrapper ul.comments ul, .comments-wrapper ul.comments ol {
  padding-top: 10px;
}

.comments-wrapper ul.comments ul.children li {
  padding: 15px 10px 5px;
}

.comments-wrapper ul.comments ul.children li:last-child {
  padding: 15px 10px 5px;
}

.comments-wrapper ul.comments ul.children {
  padding-top: 0;
  margin-bottom: 0;
}

address, table, .gallery, .mejs-container {
  margin-bottom: 20px;
}

#gallery-1 {
  margin-bottom: 20px;
}

blockquote, blockquote p {
  font-size: 23px;
  font-family: gorgia, serif;
  color: #555;
  font-style: italic;
}

dl dt, dl dd {
  margin-bottom: 10px;
}

.single #topbar, .blog #topbar  {
  background: #fff;
}

.comments .comment-respond {
  margin-top: 30px;
}

.wp-caption.alignnone, .wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter {
  max-width: 100% !important;
}

.comment-reply-title small {
  font-size: 18px;
  letter-spacing: -1px;
  padding-left: 10px;
}

.comment-reply-title small a {
  text-decoration: underline;
}


#reply-title {
  margin-bottom: 20px;
}



.single .full {
  padding: 140px 7vw 110px;
 }

.single .full.no-sides {
  padding: 140px 0 110px;
}

.single .full.no-bottom {
  padding-bottom: 0;
}

.single .full.no-top {
  padding-top: 0;
}


@media only screen and (max-width: 1200px) {
  .single .full {
    padding: 100px 8vw 70px;
   }

  .single .full.no-sides {
    padding: 100px 0 70px;
  }

  .single .full.no-bottom {
    padding-bottom: 0;
  }

  .single .full.no-top {
    padding-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .single .full {
    padding: 90px 10vw 60px;
   }

  .single .full.no-sides {
    padding: 90px 0 60px;
  }

  .single .full.no-bottom {
    padding-bottom: 0;
  }

  .single .full.no-top {
    padding-top: 0;
  }
}

@media only screen and (max-width: 824px) {

  .single .full {
    padding: 80px 12vw 40px;
   }

  .single .full.no-sides {
    padding: 80px 0 40px;
  }

  .single .full.no-bottom {
    padding-bottom: 0;
  }

  .single .full.no-top {
    padding-top: 0;
  }
}

@media only screen and (max-width: 640px) {
  .single .full {
    padding: 70px 14vw 40px;
   }

  .single .full.no-sides {
    padding: 70px 0 40px;
  }

  .single .full.no-bottom {
    padding-bottom: 0;
  }

  .single .full.no-top {
    padding-top: 0;
  }
  .admin-bar #topbar {
    position: absolute;
  }
}

@media only screen and (max-width: 480px) {
  .single .post .post-desc p.info-others {
    margin-bottom: 30px;
  }

  .single .full {
    padding: 70px 7vw 40px;
   }

  .single .full.no-sides {
    padding: 70px 0 40px;
  }

  .single .full.no-bottom {
    padding-bottom: 0;
  }

  .single .full.no-top {
    padding-top: 0;
  }
}